 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Tanda</h2>
      <!--
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      -->
      <img src="assets/img/TandaLogo.jpg" alt="Tanda Logo" height="200" width="200">
     <p>Tanda is the worlds number 1 workforce management system, we work with businesses with shift or hourly staff to help them achieve workforce success</p>
    </div>
    <div class="tech">
      <h2>WS Podcast</h2>
      <!--
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      -->
      <img src="assets/img/WS-Podcast-Artwork-Wide.png" alt="Ws Podcast Logo" height="100" width="200">
      <p>The Workforce Success Podcast explores how industry leading companies are developing their biggest asset, their workforce to get ahead in today's competative market</p>
    </div>
    <div class="tech">
      <h2>Publishing</h2>
      <img src="assets/img/blurred-background-close-up-coffee-cup-908284.jpg" alt="Publishing Logo" height="100" width="200">
      <!--
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      -->
      <p>Technology can enable teams to realise their potential and win. My content aims to reach teams with ideas they can action immediately</p>
    </div>
</div>
